<% for (hotel of hotels) { %>
  <p><%= hotel.name %></p>
  <p><%= "⭐".repeat(hotel.starRating) %> </p>
  <% if (hotel.ratePlan !== undefined) { %>
    <p><%= hotel.ratePlan.price.current %> </p>
    <% } %> 
  <p><%= hotel.address.streetAddress %>, 
  <%= hotel.address.postalCode %>
  <%= hotel.address.locality %>
  </p>
  <img src="<%= hotel.optimizedThumbUrls.srpDesktop %>" alt="Teaser photography">
  <% }; %> 